$primary-color: #DC0A2D;
$border-color: #750302;

html {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
  font-size: 1em;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 1000px) {
  html {
    font-size: 20px;
  }
}
@media all and (max-width: 710px) {
  html {
    font-size: 17px;
  }
}
.hidden {
  display: none;
}
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.invisible + * {
  margin-top: 0;
}
@keyframes rot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.shape-wrapper {
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #DEDEDE;
    border-radius: 10px;
    border: 10px solid #727474;

}
.shape {
    display: block;
    margin: 0 auto;
    width: 100%;

}
.darken {
    filter: brightness(0);
    animation: rot 0.7s infinite linear;
}
.filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: $primary-color;
    height: 85vh;
    text-align: center;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

header {
    width: 700px;
    height: 15vh;
    display: flex;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    background-color: $primary-color;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;

    h1 {
      font-size: 1.5em;
    }

}
.score-board {
    margin-top: 0.5em;
}
.guess-box {
    width: 90%;
    text-align: center;
    margin-top: 20%;
    height: 5vh;
    background-color: #51AE5F;
    color: #000;
    border: 2px solid #727474;
    &::placeholder {
      color: #000;
    }
    &:focus::placeholder {
      opacity: 0;
    }
}
body {
  background-color: #EEEDED;
  overflow: hidden;
}
